.place__paragraph {
    margin: 0;
    font-size: 18px;
    line-height: 29px;
}

.place__paragraph:nth-of-type(2) {
    margin-top: 26px;
}

@media screen and (max-width: 1023px) {
    .place__paragraph {
        margin: 0;
        font-size: 16px;
        line-height: 26px;
    }

    .place__paragraph:nth-of-type(2) {
        margin-top: 25px;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        grid-column: 1;
        margin-top: 32px;
        padding: 0 16px;
    }
}